html{
	background-color:black;
	/*background: linear-gradient(#000033, #000080, #0000ff, #3366ff, #668cff); /* Standard syntax */
	height:100%;
	overflow:hidden;
}

hr{
	border:solid 1px #585858;
}

#navBar{

	width:210px;
	height:620px;
	overflow-x:hidden;
	overflow-y:scroll;

	padding:0px;

	background-color:#282828;

}

#navBar #navLink{
	width: 200px;
	height:95px;

	position:relative;
	padding-top:20px;

	text-align:center;
	color:white;
	font-size: 24px;

	border-bottom:#505050 0.5px solid;
}

#navBar #navLink:hover{
	background-color:#505050;
	color:yellow;
	opacity:0.9;
}

#contentBox{
	width:1100px;
	height:620px;

	position:absolute;
	top:10px;
	left: 240px;

	overflow-y:auto;

	background-color:#282828;
}

#contentProc{
	position:absolute;
	left:900px;
	top:500px;

	opacity:0;
	color:white;
	font-size:30px;

}

#loadImage{
	position:inherit;
	width:100px;
	height:100px;
}

#errorDisp{
	width:400px;
	height:70px;

	display:none;
	position:relative;
	float:right;
	top:-80px;
	right:-430px;

	color:white;
	padding:10px;
	padding-top:0px;

	background-color:#282828;
	opacity:.8;

	border:black groove 1px;
	border-radius:6px;
}
