/* CSS Document */
 p.links{
  margin    : 38px  ;
  font-size : 20px  ;         /* Design Code for links in nav-bar */
  text-align: center; 
        }
div.menu{
   width:  auto; 
   height: 100px;             /* Design Code for nav-bar menu */
   background-color: gray;
   font-size: 16px;
   border   : 2px solid;
        }

  /*Design Code for main page functions */
div.foot{
background-color: orange;
text-align: center;
}

                            
h2.func_title{

}                       