/* render_accountOpen_*/
div.r_aO_queryFields{
	width:700px;
	height:400px;
	
	display:inline;
	position:fixed;
	top:170px;
	left:420px;
	z-index:5001;
	
	padding:5px;
	
	background-color:#999999;
	border-radius:6px;
}

div.r_aO_QF_header{
	display:inline;	
	font-weight:300;
	color:#428CFF;
}

/* X Button*/
div.r_aO_QF_hClose{
	display:inline;
	float:right;
	color:red;
	cursor:pointer;
	font-size:20px;
}

div.r_aO_qF_left{
	width:350px;
	height:180px;
	margin:0px;
	
	word-wrap:break-word;
}

div.r_aO_qF_right{
	width:350px;
	height:330px;
	
	position:relative;
	top:-180px;
	float:right;
	margin:0px;
	
	overflow:hidden;
	border-left:1px solid black;
}

#r_aO_qF_results{
	height:310px;
	overflow-y:auto;
}

div.r_aO_qF_rEntry{
	border-bottom:#EEE solid 1px;
	font-size:20px;
	margin-bottom:4px;
	margin-left:10px;
	cursor:pointer;
}

div.r_aO_qF_rEntry:hover{
	border-bottom:orange solid 1px;
	font-size:20px;
	margin-bottom:4px;
	margin-left:10px;
	cursor:pointer;
}

input.r_aO_QF_text{
	width:250px;
	height:20px;
	
	margin-right:10px;
	
	border-radius:4px;
	font-size:14px;
	font-weight:200;
}

#r_aO_QF_UUID{
	
}

#r_aO_QF_Name{
	
}

#r_aO_QF_groupSize{
	
}

#r_aO_QF_chargeEntry{
	
}

#r_aO_QF_submit{
	width:500px;
	height:30px;
	
	position:relative;
	top:-175px;
	margin-left:100px;
	
	border:none;
	border-radius:4px;
	background-color:#428CFF;
	color:#EEE;
}