.center{
	margin:auto;
}
.label{
	color:#ffb366;
}
a.actionable{
	color:salmon;
	text-decoration:none;
}

#userActivity{
	width:780px;
	height:620px;
	overflow-x:hidden;
	overflow-y:auto;
}
#userInfo{
	width:325px;
	height:620px;				
	
	position:relative;
	top:-620px;
	float:right;
	margin:0px;
	border-left:#EEE 1px solid;
	
	text-align:center;
}
#balance{
	width:275px;
	height:35px;
	margin-top:5px;
	border:green 1px solid;
	
	color:green;
	font-size:26px;
}
#personal{
	width:275px;
	min-height:100px;
	height:auto;
	max-height:300px;
	margin:25px;
	border:white 1px solid;
	
	text-align:center;
	color:white;
	font-size:16px;

}
#p_name{
	font-size:24px;
	width:275px;
	margin-top:10px;
}
#p_members{
	font-size:20px;
}
#baskets{
	width:275px;
	min-height:50px;
	max-height:250px;
	margin:25px;
	border:white 1px solid;
	text-align:center;
	padding-bottom:5px;
	overflow-y:auto;
	overflow-x:hidden;
}
div.p_basket{
	border:salmon 1px solid;
	max-height:50px;
	max-width:270px;
	margin:2px;
	overflow:hidden;
}
p.p_basket_name{
	width:180px;
	display:inline;
	float:left;
	margin:2px;
	border-right:white 1px solid;
	font-size:16px;
	color:white;
	word-wrap:normal;
}
p.p_basket_price{
	width:60px;
	margin:2px;
	text-align:center;
	display:inline;
	float:right;
	color:green;
}

#dataNav-header{
	height:40px;
	width:760px;
	border-bottom:#EEE 1px solid;
	text-align:center;
}

#dataNav-UUID{
	height:40px;
	padding-top:5px;
	color:white;
	font-size:24px;
}

div.u_activity_entry{
	width:725px;
	height:44px;
	margin:5px;
	padding-top:6px;
	border:salmon 1px solid;
	overflow:hidden;
}
div.uae_transID{
	width:50px;
	display:inline;
	font-size:26px;
	margin-left:4px;
	margin-right:4px;
}
div.uae_transDesc{
	display:inline;
	color:white;
	font-size:18px;
}
div.uae_transPrice{
	display:inline;
	margin-right:4px;
	float:right;
	color:green;
	font-size:26px;
}