html{
	background-color:black;
	/*background: linear-gradient(#000033, #000080, #0000ff, #3366ff, #668cff); /* Standard syntax */
	height:100%;
	overflow:hidden;
}

a{
		text-decoration:none;
}

#navigation{
	width:200px;
	height:600px;

	position: absolute;
	top:10px;
	left:10px;

	display:flex;
	flex-direction: column;

	background-color:#282828;
}

div.link{
	width: 200px;
	height:80px;

	position:relative;
	padding-top:20px;

	font-size: 24px;
	text-align:center;
	color:white;

	border-bottom:#505050 1px solid;
}

div.link:hover{
	background-color:#505050;
	color:yellow;
	opacity:0.9;
	cursor: pointer;
}

#content{
	width:800px;
	height:600px;

	position: absolute;
	top:10px;
	left:220px;

	overflow-y:auto;
	background-color:#282828;
}

h2{
  color:#ffb366;
  margin:4px;
}

h3{
  color:#438CFF;
  margin:4px;
}

font{
	color:white;
}

input[type="text"], input[type="password"]{
  width:250px;
  height:20px;
  border:none;
  border-radius: 2px;
  padding:1px;
  background-color: #F0F0F0;
  font-size:16px;
}

#errorDisplay{
	width:400px;
	height:70px;

	display:none;
	position:relative;
	float:right;
	top:500px;
	right:-430px;

	color:white;
	padding:10px;
	padding-top:0px;

	background-color:#282828;
	opacity:.8;

	border:black groove 1px;
	border-radius:6px;
}

section.fullblock{
  width:750px;
  height:auto;
  margin:10px;
  overflow-x: auto;
  background-color: #505050;

  padding:5px;
}

section.popup{
	width:600px;
	height:450px;
	z-index: 200;
	position:fixed;
	top:30px;
	left:310px;

	overflow-y: auto;
	overflow-y: hidden;
	background-color: #505050;
}
